.trend{
color: #d51a87;
 font-family: 'Fasthand', cursive;
 .custom{
font-family: 'Cabin', sans-serif;
font-family: 'Fasthand', cursive;
font-family: 'Roboto', sans-serif;
}

}

.nam{
 font-family: 'Fasthand', cursive;


}   